<%= month_calendar events: events do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <div>
      <%= link_to event.title, shop_event_path(shop, event.id) %>
    </div>
  <% end %>
<% end %>
