<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 mb-3">
      <h1 class="text-center mb-4">- CATS -</h1>
      <p class="text-center"><span class="text-center btn-green-w p-2"><%= @shop.name %>の在籍ねこちゃんたち</span></p>
    </div>
    <% if @cats.present? %>
      <% @cats.each do |cat| %>
        <div class="col-md-4">
          <%= render "cat", cat: cat %>
        </div>
      <% end %>
    <% else %>
      <h3 class="text-center">
        在籍しているねこちゃんの登録はありません。
      </h3>
    <% end %>
  </div>
</div>