<% if @shop.shop_comments.present? %>
  <% shop.shop_comments.each do |shop_comment| %>
    <div class="row position-relative justify-content-center m-5 bg-white">
        <div class="col-md-4 p-md-4 text-center">
          <%= image_tag shop_comment.user.get_image(100,100), class: "bd-placeholder-img w-75 rounded m-3" %>
        </div>
        <div class="col-md-8 position-static p-4 pl-md-0 text-left">
          <div class="ml-3">
            <p class="mt-4">
              <% if shop_comment.user.is_deleted == false %>
                -<%= shop_comment.user.name %>さんのコメント-
              <% else %>
                -退会済みユーザーのコメント-
              <% end %>
            </p>
            <p class="mx-2"><%= safe_join(shop_comment.comment.split("\n"), tag(:br)) %></p>

            <p class="text-right">
              <%= link_to owner_shop_shop_comment_path(shop.id, shop_comment.id), method: :delete, remote: true, class: "btn btn-danger btn-sm" do %>
                削除する<i class="fas fa-trash-alt"></i>
              <% end %>
            </p>
          </div>
        </div>
    </div>
  <% end %>
<% else %>
  <h5 class="text-center m-5">まだコメントはありません。</h5>
<% end %>