<div class="container">
  <h1 class="text-center mb-5">- <%= @shop.name %> PHOTOS -</h1>
  <div class="row d-flex justify-content-center text-align-center">
    <% @photos.each do |photo| %>
      <div class="col-md-4">
        <%= render "public/photos/photo", photo: photo %>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center mt-5"><%= paginate @photos %></div>
  <div class="col-md-12">
    <p class="text-right"><%= link_to @shop.name + "店舗詳細へもどる", shop_path(@shop), class: "btn btn-green" %></p>
  </div>
</div>