<div class='container'>
  <div class='row justify-content-center round-all bg-white mt-5 pt-4'>
    <%= render "shop", shop: @shop %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center m-5">- CATS -</h1>
      <%= link_to "在籍ねこちゃんの一覧を表示する", shop_cats_path(@shop), class: "btn btn-green-w" %>
      <h1 class="text-center m-5">- EVENTS -</h1>
    </div>
  </div>
</div>