<div class="container">
  <h1 class="text-center mb-5">- PHOTOS -</h1>
  <div class="row d-flex justify-content-center align-items-center">
    <% @photos.each do |photo| %>
      <div class="col-md-4">
        <%= render "photo", photo: photo %>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center mt-5"><%= paginate @photos %></div>
</div>