<div class="container">
  <h1 class="text-center">- SEARCH -</h1>
  <div class="row d-flex justify-content-center">

    <div class="col-md-9 mt-5 bg-white round-all p-5">
      <h4 class="text-center">- マップ -</h4>
      <p class="text-center mt-3">マップに住所、地名、駅名などを入力すると、付近にあるお店を探すことができます！</p>
        <%= render "map_search", shops: @shops %>
    </div>

    <div class="col-md-9 m-5 bg-white round-all p-5">
      <h4 class="text-center m-5">- ねこちゃんの特徴 -</h4>
      <p class="text-center mt-3">
        各店舗に在籍しているねこちゃんの性別と特徴から検索することができます！<br>
        お気に入りのねこちゃんを見つけてみてください！
      </p>
      <%= render "cat_search" %>
    </div>

    <div class="col-md-9 m-5 bg-white round-all p-5">
      <h4 class="text-center m-5">- キーワード -</h4>
      <p class="text-center mt-3">
        店舗名から店舗情報を検索することができます！<br>
        また、写真投稿の内容から投稿を検索することができます！
      </p>
      <div>
        <%= render "keyword_search" %>
      </div>
    </div>

  </div>
</div>



