<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-4 text-center">
      <h4 class="text-green mb-5">SAVE neko について</h4>
    </div>
    <div class="col-md-8 mb-5">
      <div><%= image_tag "about2.jpg", class: "img-fluid w-100 round-all" %></div>
    </div>
  </div>
  
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-8 text-center bg-white round-all my-5">
      <h4 class="text-green my-5">このサイトについて</h4>
      <p class="text-green my-5">
        このサイトは、猫を救うために運営されている、保護猫カフェの魅力を伝え、<br>
        新しい家族（ねこちゃん）を迎え入れたい人や、猫を支援したい人をつなげたいと考えています。<br><br>
        保護猫カフェは行くだけでも猫を救うことができます。<br>
        おうちで猫は飼えないけれど、「ねこがだいすき！」「保護猫をなくしたい！」<br>
        という方は、ぜひ一度保護猫カフェにいってみませんか？
      </p>
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-6 my-5">
      <div><%= image_tag "about4.jpg", class: "img-fluid w-100 round-all" %></div>
    </div>
    <div class="col-md-5 d-flex justify-content-center my-5">
      <div>
      <h4 class="text-green mb-5">保護猫とは？</h4>
      <p class="text-green">
        飼い主さんに捨てられてしまった猫、<br>
        迷子になってしまった猫、元々野良猫だった猫、<br>
        動物愛護センターや保健所など行政に持ち込まれた猫、<br>
        飼い主からの飼育放棄、多頭飼育放棄、ブリーダー崩壊などなど...<br>
        様々な事情で保護された猫のことを総称して保護猫と呼びます。
      </p>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-5 text-left">
      <h4 class="text-green my-5">保護猫カフェって、どんなところ？</h4>
      <p class="text-green">
        保護猫たちがいるカフェのことです。<br>
        売上の一部が動物愛護団体に寄付されたり、<br>
        猫達の医療費や、保護活動などに充てていたりします。<br>
        面談などを経て条件が合えば、お客さんが里親になることができます。<br>
      </p>
    </div>
    <div class="col-md-5 my-5">
      <div><%= image_tag "about1.jpg", class: "img-fluid w-100 round-all" %></div>
    </div>
  </div>
</div>