<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-6 text-center'>
      <h1 class='mt-4'>- SIGN UP -</h1>
      <h2><%= link_to 'かんたんログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: 'btn btn-green mt-5' %></h2>
      <h2><%= link_to '店舗の方はこちら', new_shop_registration_path, class: 'btn btn-green mt-5' %></h2>
      <h2><%= link_to '一般の方はこちら', new_user_registration_path, class: 'btn btn-green mt-5' %></h2>
    </div>
  </div>
</div>