<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-6 text-center'>
      <h2 class='mt-4'>-SIGN UP-</h2>
      <h2><%= link_to '店舗新規登録', new_shop_registration_path, class: 'badge badge-info mt-5' %></h2>
      <h2><%= link_to 'ユーザー新規登録', new_user_registration_path, class: 'badge badge-info mt-5' %></h2>
    </div>
  </div>
</div>