<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 d-flex justify-content-center text-align-center">
      <div>
        <h1 class="mt-5 ml-5"><strong>SAVE</strong></h1>
        <h1 class="mb-5 ml-5"><strong>neko</strong></h1>
        <h5 class="mt-5 mb-3 ml-5">あなたも、保護猫カフェに</h5>
        <h5 class="mb-5 ml-5">行ってみませんか？</h5>
      </div>
    </div>
    <div class="col-md-7 bg-info">
      <div>
        <%= image_tag 'tsuna1.png', class: 'w-50 image-fluid d-block mx-auto' %>
      </div>
    </div>
  </div>
</div>