/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  min-height: 100vh;
  position: relative;
  background-color: #eaf3ef;
}

h1 {
  font-family: 'Montserrat';
  font-size: 35px;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

header {
  background-color: #468976;
  color: #fff;
}

.nav-item, .navbar-brand {
  font-family: 'Montserrat';
  font-size: 20px;
  padding-right: 15px;
}

main {
  padding: 50px 0 150px;
}

footer {
  background-color: #468976;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px;
}

/*ページトップへ移動するボタン*/
#pagetop {
  position: absolute;
  right: 50px;
  bottom: 100px;
}


/*全体的に使用*/
.btn-green {
  background-color: #fff;
  color: #468976;
  border: 2px solid #468976;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
}

.round-all {
  border-radius: 20px;
}

/*トップページのスライドショー*/
.slideshow {
  overflow: hidden;
  position: relative;
  height: 100vh;
  z-index: 1;
}

.slide-img {
  display: none;
  position: absolute;
  margin-left: -170px;
  z-index: 1;
}

.text-box {
  position: absolute;
  bottom: 100px;
  right: 30px;
  z-index: 2;
}

/*photoページの設定*/
.card {
  border-radius: 20px;
}

.card .img {
  width: 100;
  border-radius: 20px 20px 0 0;
}