<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div class="text-truncate">
      <%= link_to event.title, owner_event_path(event.id) %>
    </div>
  <% end %>
<% end %>