<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
    <h1 class="text-center">- BOOKMARK SHOPS -</h1>
      <% @bookmark_shops.each do |shop| %>
        <%= link_to shop_path(shop.id), class: "text-reset text-decoration-none" do %>
          <div class='row position-relative justify-content-center round-all bg-white mt-5 pt-4'>
            <%= render 'shop', shop: shop %>
          </div>
        <% end %>
      <% end %>
      <div class="d-flex justify-content-center mt-5"><%= paginate @bookmark_shops %></div>
    </div>
  </div>
</div>