<div class='container-fluid'>
  <div class='row justify-content-center'>
    <div class='col-md-6 text-center'>
      <h1 class='mb-4'>MY PAGE</h1>
      <div class='mt-3 mb-3'><%= image_tag current_user.get_image(300,300), class: 'rounded' %></div>
      <table class='table table-borderless'>
        <tr>
          <td>名前</td>
          <td><%= current_user.name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= current_user.email %></td>
        </tr>
      </table>
      <%= link_to '編集する', edit_user_path(current_user.id), class: 'btn btn-secondary' %>
    </div>
  </div>
</div>